{
  "extends": [
    "@antfu"
  ],
  "overrides": [
    {
      "files": "['*.vue']",
      "rules": {
            "vue/max-attributes-per-line": ["warn", {
              "singleline": {
                "max": 1
              },
              "multiline": {
                "max": 1
              }

            }]
      }
    }
  ]
}