#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background-color: crimson;
  opacity: 75%;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

html.dark #nprogress .bar {
  background-color: rgba(255, 28, 104, 0.829)
}